<%- include('./include/header') %>

<!--|||||||||||||||||||||||||||||||||||||| CONTEUDO ||||||||||||||||||||||||||||||||||||||-->

<body>
    <%- include('./include/navbar') %>

    <section class="middle">
        <!-- MENU DE ETAPAS -->
        <nav class="col-sm-12 y-9 d-flex justify-content-center">
            <ul class="nav nav-tabs col-sm-6">
                <li class="nav-item"><p>ETAPA 1</p></li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">ETAPA 2</a>
                </li>
                <li class="nav-item"><p>ETAPA 3</p></li>
                <li class="nav-item"><p>ETAPA 4</p></li>
                <li class="nav-item"><p>ETAPA 5</p></li>
             </ul>
         </nav>

        <!-- TITULO -->
        <h2 id="title_h2">ETAPA 2: Caso de Teste (CT)</h2>
        <hr id="line" />

        <!-- PARTE CENTRAL -->
        <section class="container">
            <form action="/pag2" method="post">

                <!-- VALORES CasoTeste PARA O e P -->
                <section class="row">
                    <div class="form-group col-sm-6 ">
                        <label for="message">Preencha o caso de teste do Programa O</label>
                        <% for (var i = 0; i < vars_prog_o.length; i++) { %>
                            <input type="text" class="form-control my-2" id="exampleFormControlInput1" name="value_vars_prog_o" placeholder="<%= vars_prog_o[i] %>">
                        <% } %>
                        <div id="emailHelp" class="form-text">Se array, separe por vírgula. Ex: 1, 2, 3, 4</div> 
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="message">Preencha o caso de teste do Programa P</label>
                        <% for (var i = 0; i < vars_prog_p.length; i++) { %>
                            <input type="text" class="form-control my-2" id="exampleFormControlInput1" name="value_vars_prog_p" placeholder="<%= vars_prog_p[i] %>">
                        <% } %>
                        <div id="emailHelp" class="form-text">Se array, separe por vírgula. Ex: 1, 2, 3, 4</div>
                    </div>
                </section>

                <!-- BOTÕES VOLTAR~PROXIMO -->
                <section class="d-flex justify-content-between p-3">
                    <a href="/pag1" type="submit" class="btn-lg btn-warning">Voltar</a>
                    <button type="submit" class="btn-lg btn-success">Próximo</a>
                </section>

            </form>
        </section>
    </section>
</body>
<%- include('./include/footer') %>