<script>
    function addRow() {
        const tableBody = document.getElementById("tableBody");
        const newRow = document.createElement("tr");
        newRow.innerHTML = `
            <td>
                <select class="form-select form-select-mg my-2" aria - label=".form-select-lg example"
            name = "numero_linhas">
                    <% for (var i = 0; i < prog_o.length; i++) { %>
                    <option value="<%= i %>" selected>#<%= i %> <%= prog_o[i] %></option>
                    <% } %>
                </select >
            </td >
        
            <td>
                <select class="form-select form-select-mg my-2" aria-label=".form-select-lg example"
                    name="equacoes">
                    <option value="1" selected>M(c-uso)</option>
                    <option value="2">M(p-uso)</option>
                    <option value="3">V(var)</option>
                </select>
            </td>
        
            <td>
                <select class="form-select form-select-mg my-2" aria-label=".form-select-lg example"
                    name="var_o">
                    <% for (var i = 0; i < vars_prog_o.length; i++) { %>
                    <option value="<%= vars_prog_o[i] %>" selected><%= vars_prog_o[i] %></option>
                    <% } %>
                </select>
            </td>
            <td><input type="text" class="form-control my-2" id="exampleFormControlInput1"
                    name="value_var_o" placeholder="valor prog O"></td>
        
            <td>
                <select class="form-select form-select-mg my-2" aria-label=".form-select-lg example"
                    name="var_p">
                    <% for (var i = 0; i < vars_prog_p.length; i++) { %>
                    <option value="<%= vars_prog_p[i] %>" selected><%= vars_prog_p[i] %></option>
                    <% } %>
                </select>
            </td>
            <td><input type="text" class="form-control my-2" id="exampleFormControlInput1"
                    name="value_var_p" placeholder="valor prog O"></td>
            <td>
                <button type="button" class="btn btn-danger my-2">X</button>
            </td>
        `

        tableBody.appendChild(newRow);
    }
</script>